html,body{
  width: 100%;
  height: 100%;
  overflow: hidden
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    padding:0; 
    margin:0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-transform:uppercase;
    padding:0; 
    margin:0;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* PAGINAS */
#contenedor {
    width:100%;
    height: auto;
}

#alertas .alertas_seguridad, #alertas .alertas_inmediatas {
    width: 100%;
    height: auto;
    margin-top: 4.5%;
    padding-left: 5%;
}

#alertas .alertas_seguridad img {
    width: 90%;
    border-radius: 20px;
}

#alertas .alertas_inmediatas img {
    float: left;
    width: 29%;
    margin-left: 1%;
}

#alertas .contenido { 
    width: 100%;
    margin-top: 52%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
}

#alertas .contenido .linea1 {
    float: left;
    width: 21.5%;
    margin-left: 1%;
}

#alertas .contenido .linea2 {
    width: 90%;
    margin-top: 3%;
}

#alertas .bottom {
    position: fixed;   
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    opacity: 0.9;
    bottom:0;
    padding-left: 5%;
}
 
#alertas .bottom img {
    float: left;
    width: 17%;
    margin-left: 1%;
}   

/* registro */
#registro, #alertas {  
    width:100%;
}

#registro .cabecera, #alertas .cabecera {
    display: inline-block;
    width: 100%;  
}

#registro .contenido { 
    width: 100%;
    padding-top: 3%;
    font-size: 1.7em;
}



#alertas .contenido .alerta1, #alertas .contenido .alerta2, #alertas .contenido .alerta3, #alertas .contenido .alerta4{
    display: inline-block;
    float: left;
    width: 22%;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 1.2%;
    margin-left: 0.5%;
}

#alertas .contenido .otrasAlertas {
    display: inline-block;
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: 20%;
    padding: 1.2%;
}

#registro .mensaje { 
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 150%;
    margin-top: 1.5%;
}

#registro .cabecera .logo {
    float: left;
    width: 40%;
    margin-top: 2%;
    text-align: center;
}

#registro .cabecera .texto {
    float: left;
    width: 60%;
    text-align: center;
}

#alertas .cabecera .texto {
    width: 85%;
    background-color: #f0be01;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

#registro .contenido table { 
    width: 90%;
    margin-left: auto;
    margin-right: auto;  
}

#registro .cabecera .logo img {
    width: 60%;
}

#registro .cabecera .texto img {
    width: 98%; 
}

/* generic styles */
.inputSubmit {
    width: 100%;  
    height: 2em;
}

.inputText {
    width: 100%;  
    height: 2em;
}

.bg {
    z-index:-1;
    position: absolute;
    width: 100%;
    height: 23%;
}

.bg2 {
    z-index:-1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.h10 {
    height: 10px;
}

.h40 {
    height: 40px;
}

.fs120 {
    font-size: 120%;
}

.fs130 {
    font-size: 130%;
}

.fs90 {
    font-size: 90%;   
}

.fs100 {
    font-size: 100%;
}

.fs80 {
    font-size: 80%;
}
/* hidden pages 
#alertas */
#registro, #alertas {
    display: none;
}

